<div class="page-header">
    <h1>
      {{$ctrl.classified.title}}
    </h1>
</div>
    <form name="form" novalidate >
      <div>
        <label for="title">Title</label>
        <input class="form-control" name="title" required ng-model="$ctrl.classifiedResponse.title">

          <label for="id">ID</label>
          <input class="form-control" name="id" required ng-model="$ctrl.classifiedResponse.id">
        </div><br>
        <div>
          <label for="name">Description</label>
          <input class="form-control" name="description" required ng-model="$ctrl.classifiedResponse.description" >
          <label>Image URL</label>
          <input class="form-control" name="item_image" required ng-model="$ctrl.classifiedResponse.item_image">
          </div><br>
      <button ng-click=$ctrl.updateClassified() id="editButton" type="button" name="button">EDIT</button>
      <button ng-click=$ctrl.deleteClassified() id="deleteButton" type="button" name="button">DELETE</button>
    </form>

  <!-- <h1>{{ $ctrl.id }}</h1>

  <h1>
    {{$ctrl.title.classified}}
  </h1> -->
</div>
